.App {
  text-align: center;
}

.map {
  display: flex;
  justify-content: center;
}

.navbar {
  background: transparent;
  box-shadow: none;
  font-weight: bold;
}

.navbar-default {
  border-color: transparent;
}

.SignIn-Register {
  float: right;
}